th[sortable].asc:before, th[sortable].desc:before {
    content: '';
    display: block;
    background: url('/assets/img/arrow.png') 0 0/22px no-repeat;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
}

th[sortable].desc:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}