<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');"> 
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h2 class="title">Bienvenido</h2>
                          <form class="register-form" [formGroup]="signupForm">
                              <label>Usuario</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-single-02"></i>
                                  </span>
                                </div>

                                  <input type="text" formControlName="username" class="form-control" placeholder="Usuario">
                              </div>

                              <label>Clave</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="password" formControlName="password" class="form-control" placeholder="Clave">
                              </div>
                              <button class="btn btn-primary btn-block btn-round" [disabled]="signupForm.invalid || signupForm.disabled" (click)="signup()">Iniciar Sesión</button>
                          </form>
                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;AssDesk S.A.C.</h6>
                </div>
            </div>
    </div>
</div>
