.input-group-prepend {

    cursor: pointer !important;
}

.card-info {
    margin-top: 15px;
    margin-left: 15px;
    padding: 8px;
    border: 1px solid #DDDDDD;
}

.card-info__text {
    margin-bottom: 6px;
}