/* You can add global styles to this file, and also import other style files */
.active a{
    background-color: white !important;
    color: white !important;
}

.modal-dialog {

    max-width: 700px !important;
}